<ng-container
    *ngIf="loged === true; then loginTemplate; else registerTemplate">
</ng-container>

<ng-template #loginTemplate>
    <div class="center-div">
        <font size="6" face="Comic Sans MS" color="black">
            <p style="text-align: center">Witaj</p>
        </font>
        <font size="5" face="Comic Sans MS" color="black">
            <p style="text-align: center">Proszę zaloguj się</p>
        </font>

        <form #empForm="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input type="text" name="email" [(ngModel)]="user.Email"
                class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                placeholder="Wprowadź email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Hasło</label>
                <input type="password" name="password" [(ngModel)]="user.PasswordHash"
                class="form-control" id="exampleInputPassword" placeholder="Hasło">
            </div>
        </form>
        <br>
        <span size="3" face="Comic Sans MS" color="red">
            <p style="text-align: center">{{infoInvalidData}}</p>
            <button type="button" (click)="logIn()" class="btn btn-primary btn-100with">
                Zaloguj
            </button>
            <br><br>
            <button type="button" (click)="register()" class="btn btn-primary btn-100with">
                Zarejestruj
            </button>
        </span>
    </div>
</ng-template>

<ng-template #registerTemplate>
    <div class="center-div">
        <font size="6" face="Comic Sans MS" color="black">
            <p style="text-align: center">Witaj</p>
        </font>
        <font size="6" face="Comic Sans MS" color="black">
            <p style="text-align: center">Proszę zarejestruj się</p>
        </font>
        <form>
            <div class="form-group">
                <label for="exampleInputEmailReg">Email</label>
                <input type="email" name="email" [(ngModel)]="user.Email" class="form-control"
                id="exampleInputEmailReg" aria-describedby="emailHelp" placeholder="Wprowadź email">
            </div>
            <div class="form-group">
                <label for="exampleInputName">Nazwa</label>
                <input type="text" name="nazwa" [(ngModel)]="user.UserName" class="form-control"
                id="exampleInputName" aria-describedby="text" placeholder="Wprowadź nazwę">
            </div>
            <div class="form-group">
                <label for="exampleInputPasswordReg">Hasło</label>
                <input type="password", name="password" [(ngModel)]="user.PasswordHash" class="form-control"
                id="exampleInputPasswordReg" placeholder="Hasło">
            </div>
            <div class="form-group">
                <label for="exampleInputNumber">Telefon</label>
                <input type="number" name="telNumber" [(ngModel)]="user.PhoneNumber" class="form-control"
                id="exampleInputTelNumber" placeholder="Telefon">
                </div>
        </form>
        <br>
        <font size="3" face="Comic Sans Ms" color="red">
            <p style="text-align: center">{{infoInvalidData}}</p>
        </font>
        <button type="button" (click)="register()" class="btn btn-success btn-100with">Zarejestruj się</button>
        <br><br>
        <button type="button" (click)="logIn()" class="btn btn-primary btn-100with">Zaloguj</button>
    </div>
</ng-template>
